@()(content: Html)

@import enums.SessionKey
@import helper._

<!DOCTYPE html>

<html>
    <head>
        <title>Contest Creator</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
            @if(session().get(SessionKey.ACCOUNT_ID.toString()) != null) {

                @form(routes.LoginController.logout()) {
                    <input type="submit">
                }

            }

            @helper.myAlerts()
            @content

    </body>
</html>
